@import 'theme.scss';
@import 'variables.scss';

*:after,
*:before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  overflow: hidden;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: block;
}

body {
  display: flex;
  margin: 0;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-y: hidden;
}
.bg-transition {
  transition: var(--transition-time) background-color;
}

.transition-colors {
  transition-duration: var(--transition-time);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}



aside {
  ul {
    button:not(.new-chat), a {
      color: var(--main-font-color-primary);
      &:hover {
          background-color: var(--main-background-3);
      }
    }
    a.router-link-exact-active {
      background-color: var(--sidebar-active);
      font-weight: 600;
      i {
        background-color: var(--sidebar-active);
        &:hover {
          background-color: var(--sidebar-active-button) !important;
    
        }
      }
    }
    .new-chat {
      background-color: var(--main-background-inverse);
      &:hover {
        background-color: var(--main-background-inverse-hover);
      }
      &:active {
       background-color: var(--main-background-inverse);
      }
    }
  }
}

path:not(.invert-fill-color) {
  fill: var(--main-font-color-primary);
  transition: var(--transition-time) all;
}

hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 0;
  transition: var(--transition-time) border;
  border-top: 1px solid var(--light-surface-border);

}

.fixed {
  position: fixed;
}
.relative {
  position: relative;;
}
.absolute {
  position: absolute;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fs-07 {
  font-size: 0.7rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-09 {
  font-size: 0.9rem;
}
.fs-095 {
  font-size: 0.95rem;
}
.fs-1 {
  font-size: 1rem;
}
.fs-101 {
  font-size: 1.1rem;
}
.fs-102 {
  font-size: 1.2rem;
}
.fs-103 {
  font-size: 1.3rem;
}
.fs-104 {
  font-size: 1.4rem;
}
.fs-105 {
  font-size: 1.5rem;
}
.fs-108 {
  font-size: 1.8rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-205 {
  font-size: 2.5rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-4 {
  font-size: 4rem;
}
//Spiner 
.loader {
    background: 
      radial-gradient(farthest-side,#fff 94%,#0000) top/3px 3px no-repeat,
      conic-gradient(#0000 30%,#fff);
}

.dark-theme {
  .button-primary {
    .loader {
      background: 
        radial-gradient(farthest-side,#000 94%,#0000) top/3px 3px no-repeat,
        conic-gradient(#0000 30%,#000);
    }
  }
}
.light-theme {
  .surface {
    .loader {
      background: 
        radial-gradient(farthest-side,#000 94%,#0000) top/3px 3px no-repeat,
        conic-gradient(#0000 30%,#000);
    }
  }
  
}

.dot {
  color: var(--main-font-color-2);
}

.font-color-2 {
  color: var(--main-font-color-2);
}

//form

//auto fill config

input:-webkit-autofill {
  background-color: #3df115 !important; /* Change background color */
  color: #000; /* Change text color */
  box-shadow: 0 0 0px 1000px #f0f8ff inset; /* Override default styles */
  border: 1px solid #ccc; /* Adjust border if needed */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

input:-webkit-autofill:focus {
  background-color: #3df115; /* Change background when focused */
}

input:-webkit-autofill:hover {
  background-color: #3df115; /* Change background when hovered */
}

input:-moz-autofill {
  background-color: #3df115 !important;
}



.input-wrapper {
  .input-label {
    position: absolute;
    left: 14px;
    transform: translateY(-50%);
    transition: var(--transition-time) all;
    pointer-events: none;
  }
}
.input-label {
  color: var(--input-placeholder);
}
.input-wrapper:has(input):not(.input-focused) {
  .input-label {
    top: 50%;
  }
}
.input-wrapper:has(textarea):not(.input-focused) {
  .input-label {
    top: 28px;
  }
}

.input-focused {
  .input-label {
    font-size: .75rem;
  }
}

.input-focused {
  .input-label {
    top: 14px;
  }
}


input.custom-input {
  border-radius: 12px;
  height: 54px;
  padding: 12px 14px 0 14px;
}




input:not([type=checkbox],[type=radio]), select, textarea {
  appearance: none;
  outline: 0;
  font-family: inherit;
  color: var(--input-color);
  background-color: transparent;
  transition: var(--transition-time) border;
  &:hover {
    border-color: var(--main-font-color-2);
  }
  &:focus {
    border-color: var(--font-color-2);
  }
}

input:not([type=checkbox],[type=radio], [data-type=custom-focus]), textarea:not([data-name=prompt]) {
  &:focus {
    box-shadow: 0 0 0 1px var(--font-color-2); /* Outward border */
  }
}

input::placeholder, .sub-label, .input-wrapper textarea::placeholder  {
  color: var(--font-color-3);
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid var(--button-press-bg);
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: var(--transition-time) all;
}

.custom-checkbox:hover .checkmark {
  border-color: var(--main-font-color-2); 
}

/* Add active (checked) state */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--blue);
  border-color: var(--blue); 
}

/* Add a tick mark for checked state */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg); /* Rotate to form a tick */
}


textarea::placeholder {
  color: var(--input-placeholder);
}
.form-control {
  border: 1px solid var(--button-press-bg);
  font-size: 1rem;
}

.textarea-no-resize {
  resize: none;
  overflow: auto;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

.text-no-select {
  user-select: none;
}

.form-row {
  text-align: left;
}

.form-row:has(.validation-errors, .has-error) {
  input {
    border-color: var(--danger) !important;
    &:focus {
      box-shadow: 0 0 0 1px var(--danger);
    }
  }
  .input-label {
    color: var(--danger);
  }
}


.validation-errors li {
  color: var(--danger);
  &::marker {
    content: '*';
  }
}


.validation-success {
  color: var(--successText);
  path {
    fill: var(--successText);
  }
}
.validation-error {
  color: var(--danger);
  path {
    fill: var(--danger);
  }
}

.error-msg-container {
  padding: 12px;
  border-radius: 8px;
  color: var(--danger);
  background-color: var(--danger-light);
  border: 1px solid #f221214a;
  text-align: left;
  path {
    fill: var(--danger);
  }
}
.no-wrap {
  white-space: nowrap;
}

button, .a-button {
  border-style: none;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 32px;
  transition: var(--transition-time) background-color, var(--transition-time) color;
}
button:not(:disabled), .a-button, a {
  cursor: pointer;
}

button.default, .a-button.default {
  height: 40px;
  padding: 0 16px
}

button:not(:disabled, .btn-inverted, [data-type=controls]), .a-button {
  &:active {
    outline-width: .6px;
    outline-style: solid;
  }
}
button:not(:disabled, .preview-close, .button-danger), .a-button {
  &:active {
    outline-color: var(--button-press-outline);
  }
}
button.transparent-button:not(.preview-close, :disabled), .a-button:not(.button-primary) {
  background-color: transparent;
  color: var(--main-font-color-primary);
  &:active {
    background-color: var(--button-press-bg) !important;
  }
}

button:disabled {
  cursor: not-allowed;
}

.button-danger {
  background-color: var(--danger);
  color: #fff;
  &:hover {
    background-color: var(--danger-hover);
  }
  &:active {
    background-color: var(--danger);
    outline-color: var(--danger-hover);
  }
}

button.button-outline {
  background-color: inherit;
  border: 1px solid var(--main-background-3);
  transition: var(--transition-time) border;
  color: var(--main-font-color-primary);

  &:hover {
    background-color: var(--main-background-2);
  }
  &:active {
    background-color: var(--main-background-3);
  }
}

.button-primary:not(button:disabled) {
  background-color: var(--black);
  color: var(--main-background-primary);
  path {
    fill: var(--main-background-primary);
  }
  &:hover {
    background-color: var(--black-hover);
  }
  &:active {
    background-color: var(--black);
  }
}
.button-primary:disabled {
  background-color: var(--black-hover);
  color: var(--main-background-primary);
}
.dropdown {
  color: var(--main-font-color-primary);
  overflow: hidden;
  border-radius: 14px;
  box-shadow: var(--box-shadow-1);
  padding: 6px;
  border: 1px solid var(--dropdown-border-color);
  a {
    border-radius: 8px;
  }
}

aside {
  height: 100vh;
  position: sticky;
  top: 0;
  ul {
      svg {
          flex-shrink: 0;
      }
      button, a {
          height: 40px;
          border-radius: 32px;
          white-space: nowrap;
          span {
              display: block;
              padding-right: 5px;
              animation: fadeInSlide .3s;
          }
      }
  }
  #recent {
    // max-height: calc(100dvh - 210px);
    .section-wrapper {
      max-height: calc(100dvh - 316px);
    }

    ul {
      li {
        opacity: 0;
        animation: fadeIn 1s forwards;
      }
      li:nth-child(1) {
        animation-delay: 0s;
      }
      li:nth-child(2) {
        animation-delay: .1s;
      }
      li:nth-child(3) {
        animation-delay: .2s;
      }
      li:nth-child(4) {
        animation-delay: .3s;
      }
      li:nth-child(5) {
        animation-delay: .4s;
      }
      li:nth-child(6) {
        animation-delay: .5s; 
      }
      li:nth-child(7) {
        animation-delay: .6s; 
      }
      li:nth-child(8) {
        animation-delay: .7s; 
      }
      li:nth-child(9) {
        animation-delay: .8s; 
      }
      li:nth-child(10) {
        animation-delay: .9s; 
      }
      li:nth-child(11) {
        animation-delay: 1s; 
      }
      li:nth-child(12) {
        animation-delay: 1.1s; 
      }
      li:nth-child(13) {
        animation-delay: 1.2s; 
      }
      li:nth-child(14) {
        animation-delay: 1.3s; 
      }
      li:nth-child(15) {
        animation-delay: 1.4s; 
      }
    }
    .label {
      animation: fadeIn 1s;

    }
    a {
        justify-content: space-between;
        &:hover i {
            opacity: 1;
        }
        i {
            height: 32px;
            width: 32px;
            cursor: default;
            border-radius: 40px;
            translate: 6px;
            &:hover {
                background-color: var(--main-background-4);
            }
        }
    }
  }
  @keyframes fadeInSlide {
    from { opacity: 0; transform: translateX(-10px);}
    to { opacity: 1; transform: translateX(0)}
  }
  
  
  
  @keyframes fadeIn {
      0% { opacity: 0;}
      100% { opacity: 1;}
  }
}

.blur {
  -webkit-backdrop-filter: saturate(180%) blur(16px);
  backdrop-filter: saturate(180%) blur(16px);
}

.blur-to-bottom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--main-background-primary) 80%);
}

.use-cases {
  button.button-outline {
    height: 45px;
    padding: 0 16px;
    font-size: .95rem;
    color: var(--input-placeholder);
  }
}

.a-link {
  cursor: pointer;
  text-decoration: underline;
  transition: var(--transition-time) color;
  &:hover {
      color: var(--main-font-color-primary);
  }
}


.bg-transparent {
  background-color: transparent;
}
.centered{
  display: grid;
  place-items: center;
}
.block {
  display: block !important;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.hide{
  display: none !important;
}



//border-radius
.br-0 {
  border-radius: 0;
}
.br-4 {
  border-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}
.br-12 {
  border-radius: 12px;
}
.br-16 {
  border-radius: 16px;
}
.br-20 {
  border-radius: 20px;
}
.br-24 {
  border-radius: 24px;
}
.br-32 {
  border-radius: 32px;
}

.br-50 {
  border-radius: 50%;
}



//padding
.pd-0 {
  padding: 0;
}
.pd-6 {
  padding: 6px;
}
.pd-8 {
  padding: 8px;
}
.pd-16 {
  padding: 16px;
}
.pd-24 {
  padding: 24px;
}
.pd-32 {
  padding: 32px;
}
.pd-b-4 {
  padding-bottom: 4px;
}
.pd-b-8 {
  padding-bottom: 8px;
}
.pd-b-16 {
  padding-bottom: 16px;
}
.pd-b-24 {
  padding-bottom: 24px;
}
.pd-b-32 {
  padding-bottom: 32px;
}
.pd-t-4 {
  padding-top: 4px;
}
.pd-t-8 {
  padding-top: 8px;
}
.pd-t-16 {
  padding-top: 16px;
}
.pd-t-24 {
  padding-top: 24px;
}
.pd-t-32 {
  padding-top: 32px;
}


.pr-8 {
  padding-right: 8px;
}
.pr-16 {
  padding-right: 16px;
}
.pr-24 {
  padding-right: 24px;
}

.pl-8 {
  padding-left: 8px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-24 {
  padding-left: 24px;
}

//margin
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}

.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}


.visibility{
  path {
      fill: var(--main-font-color-2);
  }
}

//tabs

ul.tab-default {
  button {
    color: var(--font-color-2);
    &:active {
      outline: unset;
    }
  }
  li {
      padding: 2px 0;
      a {
          padding: 6px 8px;
          color: var(--font-color-2);
          &:hover {
              color: var(--main-font-color-primary);
          }
      }
  }

  li:has(.active-tab), button:has(.active-tab) {
      border-bottom: 1.5px solid var(--main-font-color-2);
      a, span {
          font-weight: 600;
          color: var(--main-font-color-primary);
      }
  }
}



#menu_toggler{
  fill:var(--main-font-color-primary) ;
}
#close_modal {
  fill:var(--modal-close-icon) ;
}
#close_alert {
  fill: var(--alert-close-icon);
}


// #close_




.model-avatar {
  height: 38px;
  width: 38px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var( --main-background-4);
}
.response-container:has(img) {
  .res-wrapper {
    border-radius: 16px 4px 16px 16px;
  }
}


.user-response {
  margin-bottom: 24px;
  justify-content: flex-end;
  .res-wrapper {
    border-radius: 16px;
    max-width: 70%;
    margin: 0;
  }
}
.has-chat {
  .res-wrapper {
    padding: 10px 14px;
    background-color: var( --main-background-3);
  }
  
}
.response-container.has-chat {
  img {
    border-bottom-right-radius: 4px;
  }
}

.response-container {
  img {
    border-radius: 12px;
  }
  p {
    margin: 16px 0;
  }
  h1, h2, h3, h4, h5 {
      margin: 8px 0;
  }
  h1 {
    margin-bottom: 0.5em;
  }
}
.model-response {
  a {
    text-decoration: underline;
    &:hover {
      color: var(--primary-color);
    }
  }
  margin-bottom: 32px;
  p:first-child {
    margin-block-start: 8px;
    margin-block-end: 8px;
  }
  ul {
    margin-left: 18px;
    li {
      list-style-type: disc;
    }
  }
  ol {
    li {
      list-style-type: circle;
    }
  }
  
}
.res-block {
  gap: 12px;
}
.prompt-image-container {
  img {
    cursor: pointer;
    object-fit: contain;
  }
}
.res-footer {
  margin-left: -8px;
  padding: 8px 0;

  .cluster-button-wrapper {
    padding: 0 2px;
    border-radius: 24px;
    transition: var(--transition-time) all;
    height: 42px;
  }
}
.res-footer-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
}



.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap-line-1 {
  -webkit-line-clamp: 1
}
.wrap-line-2 {
  -webkit-line-clamp: 2;
  line-height: 1.4;
}

//gap
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-14 {
  gap: 14px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}

svg {
  flex-shrink: 0;
}

//custom scrollbar

/* Apply to specific container */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scrollbar-color) transparent; /* Firefox */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}


//overflow
.overflow-y-scroll {
  overflow-y: auto;
  // overscroll-behavior-inline: contain;
  // scrollbar-color: var(--scrollbar-color) transparent;

}
.overflow-x-scroll {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: auto; /* Ensure scrolling works */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


.ov-hidden {
  overflow: hidden;
}
.ov-x-hidden {
  overflow-x: hidden;
}
.scroll-snap {
  scroll-snap-type: inline mandatory;
}
.scroll-snap > * {
  scroll-snap-align: start;
}


.button-control {
  border-radius: unset;
  width: 50px;
  height: 100%;
  z-index: 10;
  path {
    fill: var(--main-font-color-2);
  }
  &:hover {
    path {
      fill: var(--main-font-color-primary)
    }
  }
}
.button-scroll-left {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, var(--main-background-primary) 80%);

}
.button-scroll-right {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--main-background-primary) 80%);

}



p, h1, h2, h3, h4, h5 {
  margin: 0;
}
ul, ol, p {
  line-height: 1.75rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}


#chat_info_container {
  bottom: 110%;
  width: calc(100% - 32px);
}
.scroll-bottom {
  height: 32px;
  width: 32px;
  background-color: var(--main-background-primary);
  box-shadow: 0 0 1px 1px var(--main-background-4);
  transition: var(--transition-time) all;
}

//sticky

.sticky{
  position: sticky;
  -webkit-position: sticky;
}

.top-0 {
  top: 0;
}
.top-8 {
  top: 8px;
}
.top-16 {
  top: 16px;
}
.top-24 {
  top: 24px;
}
.top-32 {
  top: 32px;
}

.bottom-0 {
  bottom: 0;
}
.bottom-8 {
  bottom: 8px;
}
.bottom-16 {
  bottom: 16px;
}
.bottom-24 {
  bottom: 24px;
}
a.delete {
  color: var(--danger);
  path {
    fill: var(--danger);
  }
}

.h-2 {
  color: var(--main-font-color-2);
}

  
  
h1 {
  font-size: 2em;
}
.footnote {
  text-align: center;
  color: var(--font-color-2);
  div {
    font-size: .75rem;
    padding: 12px 0;
  }
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

  // ul {
  //   list-style-type: disc;
  //   margin-left: 20px;
  // }
pre {
  padding: 12px;
  border-radius: 16px;
  overflow-x: auto;
  display: block;
  background-color: var(--main-background-2);
  transition: var(--transition-time) background-color;
  // &:has(.language-html) {
  //   background-color: #4b64f1;
  // }
  // &:has(.language-css) {
  //   background-color: #436762;
  // }
  // &:has(.language-javascript) {
  //   background-color: #d75858;
  // }

  code {
    background-color: transparent;
  }
}
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--main-background-2);
  padding: 2px 6px;
  border-radius: 6px;
}
table {
  width: 100%;
  thead {
    background-color: var(--main-background-2);
    transition: var(--transition-time) background-color;
  }
  th, td {
    padding: 4px 16px;
    text-align: left;
  }
}

.delete-modal-body {
  span {
      color: var(--main-font-color-2);
  }
}

.modal-container {
  border-radius: 20px;
  max-width: 90vw;
  box-shadow: var(--box-shadow-1);
  button.button-outline {
      border-color: var(--light-surface-border);
      &:hover {
          background-color: var(--light-surface-active);
      }
  }

}
.agent-list-wrapper {
  a {
      &:hover {
          background-color: var(--main-background-2);
      }
  }
}
.page-wrapper {
  a {
    background-color: var(--main-background-2);
    &:hover {
      background-color: var(--main-background-3);
    }
  }
}



.desktop, .tablet {
  .transparent-button:not(:disabled, [data-type=modal]) {
    &:hover {
      background-color: var(--main-background-3);
    }
  }
  .transparent-button[data-type=modal] {
    &:hover {
      background-color: var(--modal-close-button-hover);
    }
  }
  .chat-loader {
    margin: 15px 40px;
  }
  .expanded {
    width: var(--side-bar-full-width);
    ul {
        button, a {
            flex: 1;
            justify-content: unset;
            padding: 0 10px;
        }
        .new-chat {
            width: 122px;
            transition: var(--transition-time) width;
        }
    }
  }
  .collapsed{
      width: var(--side-bar-mini-width);
      ul {
          button, a {
              width: 40px;
              justify-content: center;

              span {
                  display: none;
              }
          }
      }

      .recent {
          display: none;
      }
  }
  #recent a {
      span {
          width: calc(var(--side-bar-full-width) - 110px);
      }
      i {
          opacity: 0;
      }
  }
}


.tablet {
  // var(--side-bar-mini-width)
  pre {
    max-width: calc(90vw - (32px + var(--side-bar-mini-width)));
  }
  ul, ol {
    pre {
      max-width: calc(90vw - (132px + var(--side-bar-mini-width)));
    }
  }
}
.mobile {
  .settings-tab-title {
    display: none;
  }
  nav {
    .user-name {
      display: none;
    }
  }
  nav:has(#user_acc_dropdown) {
    padding: 0 0 0 45px;
    svg {
      height: 14px;
    }
  }
  .fs-205 {
    font-size: 1.5rem;
  }
  .prompt-image-container {
    img {
      width: 100%;
    }
  }
  .res-block {
      gap: 4px;
      flex-direction: column;
  }
  .user-response {
    margin-bottom: 16px;
    align-items: flex-end;
    .res-wrapper {
      max-width: 80%;
    }
  }
  pre {
    max-width: calc(100vw - 32px);
  }
  ul, ol {
    pre {
      max-width: calc(100vw - 100px);
    }
  }
  .chat-loader {
    margin: 18px 43px;
  }
  //main nav aside
  aside {
    position: fixed;
    height: 100%;
    width: 75vw;
    z-index: 99;

    button, a {
        flex: 1;
        justify-content: unset;
        padding: 0 10px;
    }
    #recent a {
        span {
            width: calc(75vw - 110px);
        }
        i {
            opacity: 1;
        }
    }
    
  }
  .use-cases {
    button.button-outline {
      height: 38px;
      padding: 0 10px;
      font-size: 0.85rem;
    }
  }

}

.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity 0.2s ease;
}
.modal-fade-enter-from, .modal-fade-leave-to {
  opacity: 0;
}

.use-cases {
  button {
    opacity: 0;
    animation: fadeIn 1.2s forwards;
  }
  
  button:nth-child(1) {
    animation-delay: 2.5s;
  }
  
  button:nth-child(2) {
    animation-delay: 2.6s; 
  }
  
  button:nth-child(3) {
    animation-delay: 2.7s; 
  }
  
  button:nth-child(4) {
    animation-delay: 2.8s;
  }
  button:nth-child(5) {
    animation-delay: 2.9s;
  }
  button:nth-child(6) {
    animation-delay: 3s;
  }
  
}



.animate-pulse {
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}

@keyframes pulse {
  50% { opacity: .5 }
}


.chat-loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  color: var(--button-press-bg);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}


