@import url('https://fonts.cdnfonts.com/css/avenir');
@import 'theme.scss';
@import 'variables.scss';

*:after,
*:before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  overflow: hidden;
}
img {
  display: block;
}

body{
  display: flex;
  margin: 0;
  overflow-x: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

main {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-y: hidden;
}
aside {
  ul {
    button:not(.new-chat), a {
        color: var(--main-font-color-primary);
        fill: var(--main-font-color-primary);
        &:hover {
            background-color: var(--main-background-3);
        }
    }
    .new-chat {
      background-color: var(--main-background-inverse);
      &:hover {
        background-color: var(--main-background-inverse-hover);
      }
    }
  }
}

input:not([type=checkbox],[type=radio]), select, textarea, .div-textarea {
  appearance: none;
  outline: 0;
  font-family: inherit;
  // font-size: 1rem;
  color: var(--input-color);
}
textarea::placeholder {
  color: var(--inpute-placeholder);
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;;
}
.absolute {
  position: absolute;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fs-07 {
  font-size: 0.7rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.fs-09 {
  font-size: 0.9rem;
}
.fs-1rem {
  font-size: 1rem;
}
.fs-102rem {
  font-size: 1.2rem;
}
.fs-108rem{
  font-size: 1.8rem;
}
.fs-2rem {
  font-size: 2rem;
}
.fs-3rem {
  font-size: 3rem;
}
.fs-4rem {
  font-size: 4rem;
}
.fs-5rem {
  font-size: clamp(2rem, 1vw + 3rem, 5rem);
}

button, .a-button{
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 32px;
  transition: var(--transition-time) background-color;
  path {
    transition: var(--transition-time) all;
  }
}

button:not(:disabled), .a-button {
  &:active {
    outline-width: .6px;
    outline-style: solid;
  }
}
button:not(:disabled, .preview-close), .a-button {
  &:active {
    outline-color: var(--button-press-outline);
  }
}
button.transparent-button:not(.preview-close, :disabled), .a-button{
  background-color: transparent;
  &:active {
    background-color: var(--button-press-bg) !important;
  }
}


.desktop, .tablet {
  .transparent-button:not(:disabled) {
    &:hover {
      background-color: var(--main-background-3);
    }
  }
  .chat-loader {
    margin: 15px 40px;
  }
}

.bg-transparent {
  background-color: transparent;
}
.centered{
  display: grid;
  place-items: center;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}

.hide{
  display: none !important;
}

//padding
.pd-b-8 {
  padding-bottom: 8px;
}

#menu_toggler{
  fill:var(--main-font-color-primary) ;
}
#close_modal {
  fill:var(--modal-close-icon) ;
}
// #close_

.model-avatar {
  height: 38px;
  width: 38px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var( --main-background-4);
}
.response-container:has(img) {
  .res-wrapper {
    border-radius: 16px 4px 16px 16px;
  }
}


.user-response {
  margin-bottom: 24px;
  justify-content: flex-end;
  .res-wrapper {
    transition: var(--transition-time) background-color;
    border-radius: 16px;
    max-width: 70%;
    margin: 0;
  }
}
.has-chat {
  .res-wrapper {
    padding: 10px 14px;
    background-color: var( --main-background-3);
  }
  
}
.response-container.has-chat {
  img {
    border-bottom-right-radius: 4px;
  }
}

.response-container {
  img {
    border-radius: 12px;
  }
}
.model-response {
  margin-bottom: 32px;
  p:first-child {
    margin-block-start: 8px;
    margin-block-end: 8px;
  }
  ul {
    margin-left: 18px;
    li {
      list-style-type: disc;
    }
  }
  ol {
    li {
      list-style-type: circle;
    }
  }
  
}
.res-block {
  gap: 12px;
}
.prompt-image-container {
  img {
    cursor: pointer;
    object-fit: contain;
  }
}
.res-footer {
  margin-left: -8px;
  padding: 8px 0;
}
.res-footer-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  path {
    fill: var(--main-font-color-primary);
  }

}



.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap-line-1 {
  -webkit-line-clamp: 1;
  display: block;
  width: 100%;
}

//gap
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 16px;
}
.gap-32 {
  gap: 32px;
}

//overflow
.overflow-y-scroll{
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  scrollbar-color: var(--scrollbar-color) transparent;;
}
.overflow-x-scroll  {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.scroll-hidden {
  &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
  }
}
.ov-hidden {
  overflow: hidden;
}

table {
  width: 100%;
}
ul, ol, p {
  line-height: 1.75rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5 {
  margin: 8px 0;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}

#chat_info_container {
  bottom: 110%;
  width: calc(100% - 32px);
}
.scroll-bottom {
  height: 32px;
  width: 32px;
  background-color: var(--main-background-primary);
  box-shadow: 0 0 1px 1px var(--main-background-4);
  transition: var(--transition-time) all;
  path {
    fill: var(--modal-close-icon);
  }
}

//sticky

.sticky{
  position: sticky;
  -webkit-position: sticky;
}
.sticky-top {
  top: 0;
}
.sticky-bottom {
  bottom: 0;
}


#app {
    // text-align: center;
}
  
  nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .footnote {
    text-align: center;
    color: var(--font-color-2);
    div {
      font-size: .75rem;
      padding: 12px 0;
    }
  }
  // ul {
  //   list-style-type: disc;
  //   margin-left: 20px;
  // }
  pre {
    padding: 12px;
    border-radius: 16px;
    overflow-x: auto;
    display: block;
    background-color: var(--main-background-2);
    transition: var(--transition-time) background-color;
    // &:has(.language-html) {
    //   background-color: #4b64f1;
    // }
    // &:has(.language-css) {
    //   background-color: #436762;
    // }
    // &:has(.language-javascript) {
    //   background-color: #d75858;
    // }

    code {
      background-color: transparent;
    }
  }
  code {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-background-2);
    padding: 2px 6px;
    border-radius: 6px;
  }

.tablet {
  // var(--side-bar-mini-width)
  pre {
    max-width: calc(90vw - (32px + var(--side-bar-mini-width)));
  }
  ul, ol {
    pre {
      max-width: calc(90vw - (132px + var(--side-bar-mini-width)));
    }
  }
}
.mobile {
  .prompt-image-container {
    img {
      width: 100%;
    }
  }
  .res-block {
      gap: 4px;
      flex-direction: column;
  }
  .user-response {
    margin-bottom: 16px;
    align-items: flex-end;
  }
  pre {
    max-width: calc(100vw - 32px);
  }
  ul, ol {
    pre {
      max-width: calc(100vw - 100px);
    }
  }
  .chat-loader {
    margin: 18px 43px;
  }
}

.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity 0.2s ease;
}
.modal-fade-enter-from, .modal-fade-leave-to {
  opacity: 0;
}


.chat-loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  color: var(--button-press-bg);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}