:root {
    .light-theme {
        --primary-color: #1151F4;
        --main-background-primary: #ffffff;
        --main-font-color-primary: #1f1f1f;
        --main-font-color-2: #7b7d7f;
        

        --main-background-2: #f2f3f6;
        --main-background-3: #eaebf0;
        --main-background-4: #d8d9dd;
        --main-background-light: #fbfbfc;


        --black: #0f0f10;
        --black-hover: #2f3032;



        --font-color-2: #606063;
        --font-color-3: #838383;


        --button-press-outline: #c5c5ca;
        --button-press-bg: #dfe0e6;

        --input-placeholder: #67686b;


        --button-disabled: #e4e5e8;
        // --button-neutral-hover: #e4e5eb;
        --scrollbar-color: #a9a9a9;
        --scrollbar-color-hover: #919191;


        --input-color: var(--main-font-color-primary);

        --main-background-inverse: #d8d9dd;
        --main-background-inverse-hover: #ced1d7;

        --main-background-secondary: #1b1c1c;
        --main-background-secondary-hover: #292b2d;

        --modal-main-background: #ffffff;
        --modal-main-background-2: #ffffff;

        --modal-font: #000000;
        --modal-close-icon: #2b2c2d;
        --modal-close-button-hover: #eaebf0;

        --sidebar-active: #c6d6ff;
        --sidebar-active-button: #acc0f4;


        --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;

        --light-surface-hover: #f9fafb;
        --light-surface-active: var(--main-background-2);

        --light-surface-border: var(--main-background-3);

        --skeleton-bg: #e2e5ed;
        
    }
    .dark-theme {
        --primary-color: #1658ff;
        --primary-color-hover: #124cdf;
        --main-background-primary: #0f0f10;
        --main-font-color-primary: #e8e8e8;
        --main-font-color-2: #9b9da1;
        --main-background-2: #1e1f20;
        --main-background-3: #2e2f30;
        --main-background-4: #3b3c3d;
        --main-background-light: #141515;

        --font-color-2: #c4c7c5;
        --font-color-3: #838383;


        --black: #e8e8e8;
        --black-hover: #c6cacf;



        --button-press-outline: #5c5c5e;
        --button-press-bg: #4c4d4e;



        --input-placeholder: #b2b5b9;



        --button-disabled: #363637;
        // --button-neutral-hover: #3b3c3e;
        --input-color: var(--main-font-color-primary);
        --scrollbar-color: #535353;
        --scrollbar-color-hover: #696868;


        --main-background-inverse: #b8bac0;
        --main-background-inverse-hover: #a7a9b2;


        --main-background-secondary: #b8bac0;
        --main-background-secondary-hover: #a7a9b2;


        --modal-main-background: #2e2f30;
        --modal-main-background-2: #3b3c3d ;


        --modal-font: #e3e3e3;
        --modal-close-icon: #acaeb1;
        --modal-close-button-hover: #3b3c3d;

        --sidebar-active: #283663;
        --sidebar-active-button: #1d2747;

        --light-surface-hover: #323334;
        --light-surface-active: #3b3c3d;

        --light-surface-border: var(--main-background-4);



        --box-shadow-1: rgba(0, 0, 0, 0.15) 0px 0px 24px 8px;

        --skeleton-bg: #26272b;
        

    }

    --transition-time: .2s ease;
    --danger: #f22121;
    --danger-hover: #d71e1e;
    --danger-light: #f221211e;

}
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black !important;
//         color: white !important;
//     }
// }
body {
    background-color: var(--main-background-primary);
    color: var(--main-font-color-primary);
}
.bg-surface-1 {
    background-color: var(--main-background-primary);
    color: var(--main-font-color-primary);
    transition: var(--transition-time) background-color;
    .input-label {
        background-color: var(--modal-main-background);
    }
}
.bg-surface-2 {
    background-color: var(--main-background-2);
    color: var(--main-font-color-primary);
    transition: var(--transition-time) background-color;
}
.bg-modal-surface {
    background-color: var(--modal-main-background);
    color: var(--modal-font);
    transition: var(--transition-time) background-color;
    .input-label {
        background-color: var(--modal-main-background);
    }
}
.bg-surface-inverse {
    background-color: var(--main-background-secondary);
    color: var(--main-background-primary);
    transition: var(--transition-time) background-color;
}
.skeleton-surface {
    background-color: var(--skeleton-bg);
    transition: var(--transition-time) background-color;
}